<h1>{{title | lowercase}}</h1>

<h1>{{title | uppercase}}</h1>

<div>

  <p> today is {{today}}</p>
  <p> today is {{today|date: "fullDate"}}</p>

  <p> today is {{today|date: "short"}}</p>
  <p> today is {{today|date: "long"}}</p>
  <p> today is {{today|date: "full"}}</p>
  <p> today is {{today|date: "medium"}}</p>
  <p> today is {{today|date: "short"}}</p>
  <p> today is {{today|date: "h:mm:s"}}</p>

  <p> currency is {{currency}}</p>
  <p> currency is {{currency|currency}}</p>

  <p> currency is {{currency|currency:"EUR":"symbol":"1.1-3"}}</p>


  <p> currency is {{currency|percent:""}}</p>


  <p> custom pipe is {{title|append:"newessst"}}</p>

</div>